PORT=3000
NODE_ENV=development
APP_URL=

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Super Admin Limit
MAX_SUPER_ADMINS=3

# Redis Config (untuk Docker gunakan 'redis', bukan 'localhost')
# REDIS_HOST=localhost
REDIS_HOST=redis
REDIS_PORT=6379

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

# Qiscus Configuration
QISCUS_APP_ID=xront-6l2tmc4pxcpni8s
QISCUS_SECRET_KEY=
QISCUS_CHANNEL_ID=5780
QISCUS_BASE_URL=https://omnichannel.qiscus.com
QISCUS_NAMESPACE=b393932b_0056_4389_a284_c45fb5f78ef0


# Rate Limiter
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=1000

# Logging
LOG_LEVEL=info
LOG_RETENTION_DAYS=30

# Timezone Configuration
TZ=Asia/Jakarta

# Backup Configuration
BACKUP_ENABLED=true
# BACKUP_INTERVAL_HOURS=24
BACKUP_SCHEDULED_TIME=02:00
BACKUP_COMPRESSED=true
MAX_BACKUPS=30