services:
  app:
    build: .
    container_name: email-blast-app
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - redis
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data
      - ./backups:/app/backups
    restart: unless-stopped
    # networks:
    #   - application_network

  redis:
    image: redis:7-alpine
    container_name: email-blast-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped
    # networks:
    #   - application_network

volumes:
  redis-data:
# networks:
#   application_network:
#     external: true
